name: Render

on:
  workflow_dispatch: null
  schedule:
    - cron: '*/30 * * * *'
  pull_request: null

concurrency: render

jobs:
  readme:
    name: README
    runs-on: "ubuntu-latest"
    permissions:
      contents: write # for git push
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/setup-python@0b93645e9fea7318ecaed2b359559ac225c90a2b # v5.3.0
        with:
          python-version: "3.12"
      - name: Setup dependencies
        run: python -m pip install -r scripts/requirements.txt
      - name: Rerender README
        run: python scripts/plugin_list.py README.md > README.md
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Preview changes
        run: git diff -- README.md
      - name: Commit to repo
        if: github.event_name != 'pull_request'
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global pull.rebase false
          
          git add README.md
          git commit --allow-empty -m '[ci skip] Rerender README'
          git pull
          git push
